<#include "/common/_layout.html"/>
<@layout/>
<script type="text/javascript" src="${ctx}/static/js/data/BroadRes.js"></script>
</head>
<body class="easyui-layout">
<table id="dg" title="宽带列表" data-options="toolbar:'#toolbar'">
	<thead>
		<tr>
			<th data-options="field:'id',hidden:true">id</th>
			<th data-options="field:'weixinCode',hidden:true">weixinCode</th>
			<th data-options="field:'ck',checkbox:true"></th>
			<th align="center" width="8%" data-options="field:'userName'">用户姓名</th>
			<th align="center" width="8%" data-options="field:'residenceName'">社区店</th>
			<th align="center" width="8%" data-options="field:'userPhone'">联系电话</th>
			<th align="center" width="8%" data-options="field:'address'">地址</th>
			<th align="center" width="12%" data-options="field:'inputTime'">时间</th>
			<th align="center" data-options="field:'meal'" width="15%">套餐</th>
			<th align="center" width="5%" data-options="field:'status',formatter:formatterStatus">状态</th>
		</tr>
	</thead>
</table>

<div id="toolbar" style="padding:5px;height:auto;">
	<div style="margin-left:4px;">
	  <form action="#" id="tForm" style="display:inline;">
	     <span style="margin-left:5px;">时间: <input class="easyui-datebox" style="width:120px;" name="startTime"></input>-<input class="easyui-datebox" name="endTime" style="width:120px"></input></span>
	     <span style="margin-left:5px;">综合搜索: <input class="easyui-textbox" style="width:120px;" name="name"></input></span>
	     <a href="#" class="easyui-linkbutton" style="width:150px;margin-right:5px;float:right;" id="search" data-options="iconCls:'icon-search'">查询</a>
      </form>
   </div>
</div>

<div id="addDialog" class="easyui-dialog" data-options="closed:true,modal:true,maximizable:true" style="width:320px;height:280px;">
<#include "add.html"/>
</div>

</body>
</html>