<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="${ctx}/public/resource/css/main.css" />
<link rel="stylesheet" type="text/css" id="theme" href="${ctx}/public/plugins/easyui/themes/metro-blue/easyui.css" >
<link rel="stylesheet" type="text/css" href="${ctx}/public/plugins/easyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="${ctx}/public/plugins/easyui/icons/icon-all.min.css" />
<link rel="stylesheet" type="text/css" href="${ctx}/public/plugins/easyui/icons/icon-ext.css" />
<script type="text/javascript" src="${ctx}/public/plugins/core/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="${ctx}/public/plugins/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="${ctx}/public/plugins/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="${ctx}/public/plugins/jquery-ext/util.js"></script>
<script type="text/javascript" src="${ctx}/public/plugins/jquery-ext/jquery-ext.js"></script>
<script type="text/javascript" src="${ctx}/public/plugins/jquery-ext/easyui-ext.js"></script>
